PORT=5000
MONGO_URI=mongodb+srv://gpsadmin:Rapsantech%40123@cluster0.znlnzne.mongodb.net/gps-fleet-pro?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=production
JWT_SECRET=your_super_secret_random_key
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@gmail.com
EMAIL_PASS=your_app_password
FRONTEND_URL=http://localhost:5173
